<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @*  @RenderSection("Scripts", required: false)*@
    <h1>Header And The Footer</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
