@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a href="/home/index/">Go back</a>

@Html.ActionLink("index","Index","Home")


<a asp-action ="Index" asp-controller="Home">Index </a>